.experience-section {
  padding: 100px 10%;
  background: #ffffff;
  color: #333;
  text-align: center;
}

.experience-section h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #58a6ff;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-card {
  background: #f8f8f8;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.experience-card h3 {
  font-size: 1.5rem;
  color: #58a6ff;
  margin-bottom: 5px;
}

.experience-card h4 {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

.experience-card p {
  color: #555;
  line-height: 1.6;
}
